name: MLOps CI/CD Pipeline

on:
  push:
    branches: [ docker_cicd ]

jobs:
  build_docker:
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout code
      uses: actions/checkout@v4
      
    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3
      
    - name: Build Docker image
      run: |
        docker build -t vaibhuvverma/mlops-assignment:g24ai2107 .
        echo "Docker image built successfully"
        
    - name: List Docker images
      run: docker images
